<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'register' %}">Registration</a>
    <a href="{% url 'methodology' %}">Methodology</a>
   <a href="{% url 'resources' %}">Resources</a>
       <a href="{% url 'testimony' %}">Testimonies</a>
</div>
<h1>Who are we ?</h1>
<div>
    Counseling firm as a matter of fact and like for urgency creates free seminars for
    awareness for singles to help them know which is important to Marriage.
Subsequently we organise same for the married to admonish and garnish their homes.
</div>
<br>
<div>
We make a point of duty to help religious leaders in counseling their members who are at the
    verge of losing their marriages by rendering free counseling to those who can't afford the charges.
30 couples are yearly picked at random to enjoy free guide and counseling.
All these on counseling firm to serve humanity generously.

</div>

<h1>Mission</h1>

<div>
    We are a full time ministry, to be GOD sent by providing quality- based and skillful
    solutions that are dashing to conflicts and mismanagement of marriage vows and helping
    relationships in general; to restore back the joy of happy homes where godly children are raised for our society.

</div>

<h1>Vision</h1>
<div>
    Our vision is to divinely orchestrates homes back to the rightful path of marriage creator who is GOD
    through godly Counselling, where man and woman roles are well spelt and same been followed to provide an acceptable
    and Fulfilling Marriages. In 2017 when GOD said to me , go and stop divorce, He clearly made known that His
    interest in the union of man and woman for marriage can never be quantified. </div>
<br>
<div>
Counselling firm is here to uphold the love of the Almighty GOD for marriage through His creation man!
We planned to spouses to enjoy their marriage and relationship by helping them ease- of tension and
    resolve any conflicts in their marriage.

</div>

<h1>Our seminars</h1>
<div>
Free marriage seminars for singles
Every February and October.
<br>
    <br>
Married but still single
Free seminars for married
Every March, July and November.

</div>
</body>
</html>