{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{% include 'cf/menu.html' %}
<h1>
  Registration
</h1>
img tag should be here for cac default below
<img src="{% static 'css/simple.jpg' %}">
<div>
  Counseling firm, started operation in March 2017 With the name Hitch-Free couple ( as a page on social media)
  but was finally incorporated into a company name in August 2020 as COUNSELLING FIRM, our BN,.......of August, 2020.
  <br>
  <br>
The company registered office is No. 35 crossway plaza, besides UBA bank off charity road new oko oba Abule Egba, Lagos.

</div>
</body>
</html>