<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>
{% include 'cf/menu.html' %}
<h1>
    Resources
</h1>

<div>
    In other to facilitate an hitch free marriage and beautiful relationship, the principal partner in the person of
    Mrs Owolabi Tolulope has taken it upon herself been the sole proprietress of Counselling firm to undergo so
    many series of mentorship, training and reading in other to be well fortified and fit as a marriage counselor
    amongst which are TMFA USA certification, Felix Funke Adejumo mentorship program etc. These were so as to button
    down on her divine assignment to humanity.



</div>
</body>
</html>